---
import Layout from '../../layouts/Layout.astro';

const token = Astro.locals.access_token;

/*
I'm a wrapper to the get collections api _and_ get collections detail. End result is an array of
collections with the field info I care about
*/
async function getCollections(token, site) {

    let req = await fetch(`https://api.webflow.com/v2/sites/${site}/collections`, {
        headers: {
            'Authorization': `Bearer ${token}`
        },
    });
    
    let collections = (await req.json()).collections;
    let requests = [];

    for(let i=0;i<collections.length;i++) {
        let c = collections[i];
        requests.push(fetch(`https://api.webflow.com/v2/collections/${c.id}`, {
            headers: {
                'Authorization': `Bearer ${token}`
            },
        }));
    }
    console.log('ive got '+collections.length+' details im waiting on');
    let responses = await Promise.all(requests);
    for(let i=0;i<responses.length;i++) {
        let data = await responses[i].json();
        /*
        As my goal is to just dump the fields, will stringify it here
        */
        collections[i].fields = JSON.stringify(data.fields,null,'\t');
    }

    return collections;
}

const { id } = Astro.params;

const collections = await getCollections(token, id);
const siteName = Astro.url.searchParams.get('dn');
---

<Layout>

    <h2>Collections for {siteName}</h2>

    { collections.map((c:any) => 
        <div>
            <h3>{c.displayName}</h3>
<pre>
{c.fields}
</pre>
        </div>
    )}

<style>
pre {
    background-color: #c0c0c0; 
    padding: 10px;
    width: 1200px;
}
</style>

</Layout>